html {
  scroll-behavior: smooth;
}

code {
  background-color: #eee;
  border-radius: 0px;
  font-family: courier, monospace;
  padding: 0px;
}


body {
  /*background-color: #33ccff;*/
  font-family: Arial;
  /*user-select: none;*/
  margin: 0px;
}


#container
	{
		width: auto;
  }

#logo
	{
		/*background-color: rgb(0, 0, 0);*/
		color: rgb(0, 0, 0);
		text-align: center;
		padding: 10px;
    background: linear-gradient(to bottom left, #0004ff 0%, #ffffff 100%);
    font-size: 50px;
    width: auto;
  }
#nav
	{
    background: whitesmoke;
		padding: 10px;
    text-align: center;
    clear: both;
    width: 100%;
    font-size: 20px;
    position: fixed;
    border: 1px solid black;
    opacity: 80%;
    }
a:link, a:visited {
  color: black;
  text-decoration: none;
}
#R0
  {
    width: auto;
    background:lightblue;
		padding: 50px;
    text-align: center;
    clear: both;
    font-size: 15px;
  }
#R1
  {
    width: auto;
    background:rgb(255, 255, 255);
		padding: 10px;
    text-align: center;
    clear: both;
    font-size: 15px;
  }
#R2
  {
    width: auto;
    background:rgb(243, 255, 139);
		padding: 10px;
    text-align: center;
    clear: both;
    font-size: 15px;
  }
#R3
  {
    width: auto;
    background:rgb(17, 100, 255);
		padding: 10px;
    text-align: center;
    clear: both;
    font-size: 15px;
  }
#R4
  {
    width: auto;
    background:rgb(0, 255, 85);
		padding: 10px;
    text-align: center;
    clear: both;
    font-size: 15px;
  }
#R5
  {
    width: auto;
    background:rgb(179, 255, 0);
		padding: 10px;
    text-align: center;
    clear: both;
    font-size: 15px;
  }
#R6
  {
    width: auto;
    background:rgb(255, 217, 0);
		padding: 10px;
    text-align: center;
    clear: both;
    font-size: 15px;
  }
#koniec
  {
    width: auto;
    background:rgb(0, 0, 0);
		padding: 10px;
    text-align: center;
    clear: both;
    font-size: 15px;
  }
#odp
  {
    width: auto;
    background:rgb(255, 0, 0);
		padding: 10px;
    text-align: center;
    clear: both;
    font-size: 15px;
  }










  
